* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color: white;
	--secondary-color: #1c1917;
	--nav-background: #000;
	--hero-overlay: rgba(0, 0, 0, 0.5);
}

body {
	background-color: #afaeac;
	font-family: 'Roboto', sans-serif;
}
section {
	padding: 2px 0;
}

header {
	margin: 2rem 0;
	text-align: center;
	color: var(--nav-background);
}
header h1 span {
	color: #57575a;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--nav-background);
}
.burger-menu {
	display: none;
}
.burger-bar {
	display: none;
}

nav a {
	// margin: 0 2rem;
	padding: 1em 1em;
	text-decoration: none;
	color: var(--main-color);
	font-weight: bold;
	transition: color 0.5s;
	transition: background-color 0.5s;
	text-transform: uppercase;

	&:hover {
		color: #000;
		background-color: var(--main-color);
	}
}
.search {
	position: relative;
}
.search-input {
	padding: 1em;
	width: 200px;
	border: none;
	color: #000;
	font-size: 16px;
	transform: translateX(0) scale(0);
	transform-origin: right;
	transition: transform 0.3s;
	background-color: #d5d5d5;
}
.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 80px;
	border: none;
	background-color: var(--main-color);
	cursor: pointer;
}
.search-btn:focus,
.search-input:focus {
	outline: none;
}

.active {
	transform: translateX(-80px) scale(1);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: var(--nav-background);
}

// section hero

.hero {
	position: relative;
	background: url('../img/cryptotracker-hero.jpg') center/cover no-repeat;

	color: var(--main-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.hero-content {
		padding: 2rem;
		background-color: var(--hero-overlay);
		border-radius: 1rem;

		h3 {
			font-size: 1.5em;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1em;
			margin-bottom: 2rem;
		}
	}
}

.about {
	background: linear-gradient(135deg, #1c1917, #76726b);
}

.about-container {
	display: flex;
	flex-direction: column-reverse;
	margin: 0 1rem;
	position: relative;
	padding: 2rem;
}

img {
	height: 300px;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	color: var(--main-color);

	h2 {
		margin-bottom: 2rem;
	}

	p {
		max-width: 80%;
		text-align: center;
		min-width: 40%;
	}
}

.tracker {
	background: linear-gradient(135deg, #76726b, #969695);
	margin: 2px 0;
	padding: 2em;

	h2 {
		display: flex;
		justify-content: center;
		margin: 2rem 0;
		letter-spacing: 2px;
		font-size: 40px;
	}
}

.crypto-card {
	width: 200px;
	height: 400px;
	margin-bottom: 2rem;
	background-color: var(--secondary-color);
	color: var(--main-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 10px 10px 20px #000000;
}

.crypto-card.hidden {
	display: none;
}

footer {
	background-color: var(--nav-background);
	color: var(--main-color);
	padding: 2rem 0;
}

.footer-bottom {
	padding: 10px 0;
	text-align: center;
}

nav a {
	margin: 0 10px;
}

.hero {
	height: 300px;

	.hero-content {
		h3 {
			font-size: 1.5em;
			margin-bottom: 10px;
		}

		p {
			font-size: 1em;
			margin-bottom: 20px;
		}
	}
}

.about-container {
	flex-direction: row;

	img {
		width: 50%;
		margin-right: 2rem;
	}

	.about-text {
		width: 50%;
	}
}

.selected-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2rem;
}

.crypto-card {
	width: 15rem;
	height: 25rem;
	margin: 0 auto;
	letter-spacing: 1.5px;
}
.gwei-scan {
	background: linear-gradient(135deg, #747271, #eceae7);
}
.gwei-scan h2 {
	font-size: 40px;
	text-align: center;
	padding: 2rem;
}
.gwei-scan-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	font-size: 2rem;
}

.alert-notification {
	.alert-notification-form {
		display: flex;
		align-items: center;
		justify-content: center;
		input {
			margin: 1rem;
			padding: 1rem;
			border-radius: 20px;
		}
		button {
			border: none;
			background-color: transparent;
			cursor: pointer;
			font-size: 2em;
			margin: 1em;
		}
		#setButton {
			color: #1f944a;
		}
		#stopAlert {
			color: #ea2a2a;
		}
	}

	h3 {
		text-align: center;
	}
}
@media screen and (max-width: 992px) {
	.gwei-scan-container {
		flex-direction: column;

		align-items: center;
		p {
			margin: 1rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.main-nav {
		display: none;
	}
	.burger-menu a:hover {
		color: #fff;
		background-color: #000;
	}
	.burger-bar {
		display: block;
		padding: 1rem;
		font-size: 20px;
		width: 100%;
		border: none;
		background-color: #000;
		color: var(--main-color);
	}

	.visable {
		height: 250px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.burger-search-input {
			padding: 1em;
			width: 200px;
			border: none;
			color: #000;
			font-size: 16px;
			outline: none;

			transform-origin: left;
			transition: transform 0.3s;
			background-color: #d5d5d5;
			transform: scale(0);
			transform: translateX(80px) scale(0);

			&.active {
				transform: translateX(100px) translateY(-20px) scale(1);
			}
		}
	}
	.burger-search-btn {
		position: absolute;

		top: -20px;
		left: 20px;
		width: 80px;
		height: 50px;
		border: none;
		background-color: #fff;
		cursor: pointer;

		.search-btn:focus,
		.search-input:focus {
			outline: none;
		}
	}

	.about-container {
		flex-direction: column-reverse;

		img {
			width: 100%;
			margin-right: 0;
			margin: 1rem 0;
		}

		.about-text {
			width: 100%;
			margin-top: 1rem;
		}
	}
	.alert-notification {
		.alert-notification-form {
			flex-direction: column;
			margin: 0 auto;
		}
	}
}
